<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.proven.business.dao.PostDetailMapper" >
  <resultMap id="BaseResultMap" type="com.proven.business.model.PostDetail" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="post_id" property="postId" jdbcType="INTEGER" />
    <result column="attach_url" property="attachUrl" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="watch_number" property="watchNumber" jdbcType="INTEGER" />
    <result column="repeat_num" property="repeatNum" jdbcType="INTEGER" />
    <result column="attach_name" property="attachName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.proven.business.model.PostDetail" extends="BaseResultMap" >
    <!--
      WARNING - @mbggenerated
    -->
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, post_id, attach_url, create_by, create_date, update_by, update_date, create_name, 
    watch_number, repeat_num, attach_name
  </sql>
  <sql id="Blob_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    content
  </sql>
  
  <select id="selectByPostId" resultMap="BaseResultMap">
  select * from t_t_post_detail where post_id=#{postId}
  </select>
  
  <update id="updateName">
  update t_t_post_detail SET create_name=#{name} where create_by=#{uid}
  </update>
  
  <delete id="deleteBytitleId">
  delete from t_t_post_detail where post_id=#{titleId}
  </delete>
</mapper>