<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.proven.business.dao.PostTitleMapper" >
  <resultMap  id="BaseResultMap" type="com.proven.business.model.PostTitle" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="theme_id" property="themeId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="post_time" property="postTime" jdbcType="TIMESTAMP" />
    <result column="hot_number" property="hotNumber" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="repeat_number" property="repeatNumber" jdbcType="INTEGER" />
    <result column="attach" property="attach" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, type_id,theme_id, title, author, post_time, hot_number, create_by, update_by, update_date, 
    repeat_number, attach
  </sql>
  
  <select id="getPostTitleData" resultMap="BaseResultMap">
  select * from t_t_post_title where 1=1
  <if test="typeId != 0">
  		and type_id=#{typeId}
  </if>
   <if test="themeId != 0">
  		and theme_id=#{themeId}
  </if>
  order by update_date desc
  </select>
  
  <insert id="insertReturnId" useGeneratedKeys="true" keyProperty="id" parameterType="com.proven.business.model.PostTitle">
  insert into t_t_post_title (type_id,theme_id, title, author, post_time, hot_number, create_by, update_by, update_date, 
    repeat_number, attach) 
    values (#{typeId},#{themeId},#{title},#{author},#{postTime},#{hotNumber},#{createBy},#{updateBy},#{updateDate},#{repeatNumber},#{attach})
  
  </insert>
  
  <update id="updateName">
  UPDATE t_t_post_title SET author=#{name} where create_by=#{uid}
  </update>
  
  <select id="getAdminTitleData" resultMap="BaseResultMap">
  select * from t_t_post_title where 1=1
  <if test="search != null and search !=''">
  		and title like CONCAT('%',#{search,jdbcType=VARCHAR},'%')
  </if>
  order by update_date desc
  </select>
</mapper>